In [1]:
import pandas as pd

In [2]:
#uploading dataset
data = pd.read_csv("C:/Users/sruthi/Downloads/sales_data_1.csv")

In [3]:
data.head()

,Date,Firm bought from,Buying price,Customer,Selling price,Quantity sold
0,21/08/23,Vendor6,72.11,Customer7,91.58,44
1,21/08/23,Vendor4,75.08,Customer7,83.71,17
2,21/08/23,Vendor7,83.93,Customer2,103.76,15
3,21/08/23,Vendor7,52.01,Customer3,64.53,7
4,21/08/23,Vendor2,98.91,Customer5,140.92,1

In [6]:
# Gross Margin for each transaction
data['Gross Margin'] = (data['Selling price'] - data['Buying price']) * data['Quantity sold']
print(data['Gross Margin'])
data.head()

0     856.68
1     146.71
2     297.45
3      87.64
4      42.01
       ...
65    407.34
66     84.00
67    947.84
68    126.44
69     25.88
Name: Gross Margin, Length: 70, dtype: float64

,Date,Firm bought from,Buying price,Customer,Selling price,Quantity sold,Gross Margin
0,21/08/23,Vendor6,72.11,Customer7,91.58,44,856.68
1,21/08/23,Vendor4,75.08,Customer7,83.71,17,146.71
2,21/08/23,Vendor7,83.93,Customer2,103.76,15,297.45
3,21/08/23,Vendor7,52.01,Customer3,64.53,7,87.64
4,21/08/23,Vendor2,98.91,Customer5,140.92,1,42.01

In [7]:
# Q-1 - The overall gross margin
overall_gross_margin = data['Gross Margin'].sum()
print("Overall Gross Margin:", overall_gross_margin)

Overall Gross Margin: 31482.749999999996

In [11]:
# Q-2 - The most profitable vendor
vendor_profit = data.groupby('Firm bought from')['Gross Margin'].sum()
print(vendor_profit)

Firm bought from
Vendor1     1555.59
Vendor10    3040.62
Vendor2     1296.98
Vendor3     6370.67
Vendor4     6903.31
Vendor5     1616.14
Vendor6     1217.95
Vendor7     4961.05
Vendor8      253.74
Vendor9     4266.70
Name: Gross Margin, dtype: float64

In [17]:
most_profitable_vendor = vendor_profit.sort_values(ascending=False).head(1)
most_profitable_vendor_name = most_profitable_vendor.index[0]
print("Most Profitable Vendor:", most_profitable_vendor_name)

Most Profitable Vendor: Vendor4

In [19]:
# Q-3 - The least profitable customer
customer_profit = data.groupby('Customer')['Gross Margin'].sum()
print(customer_profit)

Customer
Customer1     5310.57
Customer10    3692.44
Customer2     4215.67
Customer3     1055.05
Customer4     3337.37
Customer5     1315.28
Customer6     1930.76
Customer7     2197.62
Customer8     6498.91
Customer9     1929.08
Name: Gross Margin, dtype: float64

In [20]:
least_profitable_customer = customer_profit.sort_values().head(1)
least_profitable_customer_name = least_profitable_customer.index[0]
print("Least Profitable Customer:", least_profitable_customer_name)

Least Profitable Customer: Customer3

In [34]:
# Convert the 'Date' column to a datetime format
data['Date'] = pd.to_datetime(data['Date'], format='%d/%m/%y')

In [37]:
#  Q-4 - Most profitable day of the week 
data['Day of Week'] = data['Date'].dt.day_name()
most_profitable_day = data.groupby('Day of Week')['Gross Margin'].sum().sort_values(ascending=False).head(1)
most_profitable_day_name = most_profitable_day.index[0]
print("Most Profitable Day of the Week:", most_profitable_day_name)

Most Profitable Day of the Week: Monday

In [39]:
# Q-5 - Least profitable day of the week
least_profitable_day = data.groupby('Day of Week')['Gross Margin'].sum().sort_values().head(1)
least_profitable_day_name = least_profitable_day.index[0]
print("Least Profitable Day of the Week:", least_profitable_day_name)

Least Profitable Day of the Week: Sunday

In [41]:
#uploading dataset
data = pd.read_csv("C:/Users/sruthi/Downloads/sales_data_2.csv")

In [42]:
# Sort the data by date
data = data.sort_values(by='Date')

In [44]:
# Q-6 - 3-day average of the daily gross profit
data['Gross Margin'] = (data['Selling price'] - data['Buying price']) * data['Quantity sold']
data['3-Day Average Gross Profit'] = data['Gross Margin'].rolling(window=3, min_periods=1).mean()
print(data[['Date', 'Gross Margin', '3-Day Average Gross Profit']])

          Date  Gross Margin  3-Day Average Gross Profit
0   2023-08-21        856.68                  856.680000
1   2023-08-21        146.71                  501.695000
2   2023-08-21        297.45                  433.613333
3   2023-08-21         87.64                  177.266667
4   2023-08-21         42.01                  142.366667
..         ...           ...                         ...
64  2023-08-27       1164.87                  427.866667
65  2023-08-27        407.34                  552.863333
66  2023-08-27         84.00                  552.070000
67  2023-08-27        947.84                  479.726667
69  2023-08-27         25.88                  352.573333

[70 rows x 3 columns]